@font-face {
    font-family: 'SVN-Gotham';
    src: url('../../assets/fonts/SVN-Gotham.woff2') format('woff2'),
        url('../../assets/fonts/SVN-Gotham.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-GothamBook';
    src: url('../../assets/fonts/SVN-GothamBook.woff2') format('woff2'),
        url('../../assets/fonts/SVN-GothamBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-GothamBold';
    src: url('../../assets/fonts/SVN-GothamBold.woff2') format('woff2'),
        url('../../assets/fonts/SVN-GothamBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lora';
    src: url('../../assets/fonts/Lora-Regular.woff2') format('woff2'),
        url('../../assets/fonts/Lora-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HLT JANEAUST';
    src: url('../../assets/fonts/HLT JANEAUST.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HLT JANEAUST';
    src: url('../../assets/fonts/HLT JANEAUST.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-Olivier';
    src: url('../../assets/fonts/SVN-Olivier.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
